@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type=file] {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kollektif", serif;
}

h1 {
  font-size: 60px;
}